.katex {
  font-size: 1.1em;
}
.katex-display {
  margin: var(--space-lg) 0;
  overflow-x: auto;
}

/* Callout boxes */
.thm,
.def,
.lemma,
.prop,
.remark,
.cor {
  /* border: 1px solid var(--text-primary); */
  border-left: 5px solid var(--accent);
  border-radius: 0.5rem;
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
  padding-top: 2px;
  padding-bottom: 2px;
  margin: var(--space-xl) 0;
  background: var(--bg-thms);
}

.thm {
  border-color: #3b82f6;
}
.def {
  border-color: #10b981;
}
.lemma,
.remark {
  border-color: #bb6688;
}

.thm h4,
.def h4,
.lemma h4,
.prop h4,
.remark h4,
.cor h4 {
  margin-bottom: var(--space-sm);
  /* font-size: var(--font-base); */
  /* font-weight: var(--weight-normal); */
  color: var(--text-tertiary);
  text-decoration: underline;
}

.thm .callout-label,
thm h4 {
  color: #3b82f6;
  font-weight: var(--weight-semibold);
}
.def .callout-label {
  color: #10b981;
  font-weight: var(--weight-semibold);
}
.lemma .callout-label,
.remark h4 {
  color: #bb6688;
  font-weight: var(--weight-semibold);
}
