/* Style the footnote reference links in the text */
a.footnote-ref {
  color: #E25822;
  font-weight: bold;
  position: relative;
  padding-right: 0.4em;
  padding-left: 0.1em;
}

/* a.footnote-ref::before { */
/*   position: absolute; */
/*   left: 0; */
/*   top: 50%; */
/*   transform: translateY(-50%); */
/*   font-size: 1em; */
/*   line-height: 1; */
/* } */
/**/

body.teaching {
  /* custom about page styles */
  
}
