body.light-mode {
--single-line-code-colour: #586e75;
--single-line-code-bg: #eee8d5;
--math-colour: ##333333;
}


body.dark-mode{
--single-line-code-colour: #83a598;
--single-line-code-bg: #504945;
--math-colour: #e0a5c0;
}

/*CODE*/
/* Base styles */
p code, li code, td code {
  padding: 0.2em 0.4em;
  font-size: 0.92em;
  background-color: var(--single-line-code-bg);
  color: var(--single-line-code-colour);
  border-radius: 4px;
  font-size: 0.8rem;
}


.math{
  color: var(--math-colour);
}


a .math, h2  .math{
  color: inherit;
}

/* Style horizontal scrollbar for <pre> blocks */
pre::-webkit-scrollbar {
  height: 8px;
}

pre::-webkit-scrollbar-track {
  background: #2e2e2e; /* match dark background */
  border-radius: 4px;
}

pre::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

pre::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

/* Firefox support */
pre {
  scrollbar-color: #888 #2e2e2e;
  scrollbar-width: thin;
  font-size: 0.3rem;
}

pre[class*="language-"] code {
  font-size: 0.8rem !important;
/*  font-family: system-ui, -apple-system, sans-serif;*/
}
  .commitment-block {
    padding: 0.8em 1em;
    border-left: 4px solid #5e9ca0;
    background: #f8f9fa;
    margin: 1em 0;
  }

  .commitment-block math {
    display: block;
    margin: 0.4em 0;
  }
