:root {
  /* Light mode colors */
  --alert-border: #facc15;;
  --alert-bg: #2d1f00;
  --alert-text: #fde68a;
  --alert-shadow: rgba(240, 196, 25, 0.3);
  --alert-icon-stroke: #f0c419;

  --quote-text: #555555;
  --quote-border: #cccccc;
  --quote-mark: #cccccc;
  --quote-author: #666666;
  --quote-backgound: #319795;

    /* Remark colors */
  --remark-border: #fe8019; 
  --remark-bg: #3c3836;
  --remark-text: #83a598;

  --def-background:  #32382f;
  --def-headercolor:  #4d000d;
  --def-border:  #b8bb26;
  --thm-border: #fe8019;
  --thm-background: #3a2a1f;
}

.def, .thm {
    border-left: 5px solid var(--def-border);
    background-color: var(--def-background);
    padding: 16px 20px;
    margin: 20px 0;
    border-radius: 6px;
    font-family: 'Chalkboard SE', sans-serif;
}

.thm{
  background-color: var(--thm-background);
  border-left: 5px solid var(--thm-border);
}
.def h3, .thm h3 {
  margin-top: 0;
  margin-bottom: 0.75rem;
  font-weight: 700;
  font-size: 1.25rem; /* a bit larger than normal text */
  color: var(--def-headercolor); /* match the border color for cohesion */
  border-bottom: 1.5px solid var(--def-border) ;
  padding-bottom: 0.25rem;
}

.thm h3{
  border-bottom: 1.5px solid var(--thm-border) ;
  color: var(--thm-border); /* match the border color for cohesion */
}

.quote {
  font-style: italic;
  color: var(--quote-text);
  margin: 1.5rem 0;
  padding-left: 1.5rem;
  border-left: 4px solid var(--quote-border);
  background: ghostwhite;
  position: relative;
  font-family: Georgia, serif;
}

.quote::before {
  content: "“";
  font-size: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  color: var(--quote-mark);
  line-height: 1;
  font-weight: bold;
  font-family: serif;
}

.quote p:last-child {
  margin-top: 0.5rem;
  font-style: normal;
  font-weight: 600;
  text-align: right;
  color: var(--quote-author);
}

/* Remark style */
.remark {
  background-color: var(--remark-bg);
  border-left: 5px solid var(--remark-border);
  color: var(--remark-text);
  padding: 1px 30px;
  margin: 0.2rem 0;
  border-radius: 6px;
  font-family: 'Chalkboard SE', sans-serif;
  font-size: 1.05rem;
}

.remark strong{
  color: var(--remark-text);
}

.collapsible-short, .button-13 {
  border: 1px solid #d5d9d9;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;  
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 14px;
  padding: 0 5px 0 5px;
  position: relative;
  text-align: center;
  max-width: 300px;
  width: auto;
}


.button-13, .collapsible-short:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

.collapsible, .algorithm, .problem{
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px 0;
  color: rgba(0, 0, 0, 0.85);
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  margin-bottom: 5px;
  padding-bottom: 5px;
  display: block;
  flex-wrap: nowrap;
}

.collapsible:before, .collapsible-short:before{
    content: ' ' attr(title)' ⬇️';
    color: #6082B6;
    font-weight: bold;     
}

.collapsible.active::before, .collapsible-short.active::before {
    content: ' ' attr(title)' 😁';
    color: orange;
    font-weight: bold;    
}

.collapsible-content, .collapsible-proof{
  padding: 0 18px;
  display: none;
  overflow: hidden;
}


.proof-sketch, .proof, .collapsible-content, .collapsible-proof {
  background-color: #2a2e24;  /* subtle dark olive green background */
  color: #a89984;             /* muted beige text */
  padding: 16px 20px;
  margin: 20px 0;
  border-left: 3px solid #504945; /* subtle border */
  border-radius: 6px;
  font-family: 'Chalkboard SE', sans-serif;
  font-style: italic;
  line-height: 1.5em;
  position: relative;  /* to position ::before */
}

.proof::before {
  content: "Proof.\A";       /* newline after Proof. */
  white-space: pre;          /* allow \A to render as newline */
  font-weight: bold;
  color: #ebdbb2;
  font-style: normal;
}



